<!DOCTYPE html>
<html class="bootstrap-layout"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="/admin/admin-layout">

<body>

<div layout:fragment="content">

<ol class="breadcrumb">
  <li><a th:href="@{/admin/dashboard}">Dashboard</a></li>
  <li class="active"><a th:href="@{/admin/role-list}">Roles</a></li>
</ol>

<div class="card">
  <div class="card-header bg-white center">
    <h5 class="card-title">Total User Roles <span class="text-primary" th:text="${ROLES.size()}"></span></h5>
  </div>
  <table class="table table-striped m-b-0">
    <thead>
      <tr class="text-uppercase small">
        <th>Role ID</th>
        <th>Role Name</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="role : ${ROLES}">
        <td class="vertical-middle">
          <span class="text-orange bold" th:text="${role.id}"></span>
        </td>
        <td class="vertical-middle">
          <span class="text-orange bold" th:text="${role.roleName}"></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>

</div>

</body>

</html>