<!DOCTYPE html>
<html class="bootstrap-layout"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="/admin/admin-layout">

<body>

<div layout:fragment="content">

<ol class="breadcrumb">
  <li><a th:href="@{/admin/dashboard}">Dashboard</a></li>
  <li class="active"><a th:href="@{/admin/role-list}">Roles</a></li>
</ol>

<div class="card">
<div class="card-header bg-white">
  <div class="media">
    <div class="media-body">
      <h4 class="card-title">Roles</h4>
      <p class="card-subtitle">User Roles</p>
    </div>
  </div>
</div>
<ul class="list-group list-group-fit m-b-0">
  <li class="list-group-item">
    <div class="media">
      <div class="media-body media-middle">
        User Roles
      </div>
    </div>
  </li>
  </ul>
</div>

</div>

</body>

</html>