<!DOCTYPE html>
<html class="bootstrap-layout"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="/admin/admin-layout">

<body>

<div layout:fragment="content">

<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li class="active">Edit Account</li>
</ol>

<div class="card">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#first" data-toggle="tab">User</a>
    </li>
  </ul>
  <div class="p-a-2 tab-content">
    <div class="tab-pane active" id="first">
      <form th:action="@{/api/user/create}" method="POST" class="form-horizontal" th:object="${USER}">
        <div class="form-group row">
          <label for="id" class="col-sm-3 form-control-label">User ID</label>
          <div class="col-sm-8">
            <div class="row">
              <div class="col-md-6">
                <input type="text" class="form-control" placeholder="User ID" th:field="*{id}">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="name" class="col-sm-3 form-control-label">User Name</label>
          <div class="col-sm-8">
            <div class="row">
              <div class="col-md-9">
                <input type="text" class="form-control" placeholder="User Name" th:field="*{name}">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="profile" class="col-sm-3 form-control-label">Profile</label>
          <div class="col-sm-9">
            <div class="row">
              <div class="col-md-2">
                <div class="icon-block">
                  <i class="material-icons text-muted-light md-36">photo</i>
                </div>
              </div>
              <div class="col-md-6">
                <input type="text" class="form-control" placeholder="https://www.cdn.image.com/" th:field="*{profile}">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="role" class="col-sm-3 form-control-label">User Role</label>
          <div class="col-sm-8">
            <div class="row">
              <div class="col-md-9">
                <select class="form-control" th:field="*{role}">
                	<option th:each="role : ${ROLES}" th:value="${role.id}" th:text="${role.roleName}"></option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-8 col-sm-offset-3">
            <div class="media">
              <div class="media-left">
                <button class="btn btn-success btn-rounded">Create User</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    
  </div>
</div>

</div>

</body>

</html>