<!DOCTYPE html>
<html class="bootstrap-layout"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="/admin/admin-layout">

<body>

<div layout:fragment="content">

<ol class="breadcrumb">
  <li><a th:href="@{/admin/dashboard}">Dashboard</a></li>
  <li class="active"><a th:href="@{/admin/user-cu}">Create User</a></li>
</ol>

<div class="card">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#first" data-toggle="tab">User</a>
    </li>
  </ul>
  <div class="p-a-2 tab-content">
    <div class="tab-pane active" id="first">
      <form th:action="@{/api/user/create}" method="POST" class="form-horizontal" th:object="${USER}">
        <div class="form-group row">
          <label for="id" class="col-sm-3 form-control-label" th:text="#{user_id}"></label>
          <div class="col-sm-8">
            <div class="row">
              <div class="col-md-6">
                <input type="text" class="form-control" th:placeholder="#{user_id}" th:field="*{id}">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="name" class="col-sm-3 form-control-label" th:text="#{user_name}"></label>
          <div class="col-sm-8">
            <div class="row">
              <div class="col-md-9">
                <input type="text" class="form-control" th:placeholder="#{user_name}" th:field="*{userName}">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="profile" class="col-sm-3 form-control-label" th:text="#{profile}"></label>
          <div class="col-sm-9">
            <div class="row">
              <div class="col-md-2">
                <div class="icon-block">
                  <i class="material-icons text-muted-light md-36">photo</i>
                </div>
              </div>
              <div class="col-md-6">
                <input type="text" class="form-control" placeholder="https://www.cdn.image.com/" th:field="*{profileUrl}">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="name" class="col-sm-3 form-control-label" th:text="#{email}"></label>
          <div class="col-sm-8">
            <div class="row">
              <div class="col-md-9">
                <input type="text" class="form-control" th:placeholder="#{email}" th:field="*{email}">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="name" class="col-sm-3 form-control-label" th:text="#{password}"></label>
          <div class="col-sm-8">
            <div class="row">
              <div class="col-md-9">
                <input type="password" class="form-control" th:placeholder="#{password}" th:field="*{password}">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="name" class="col-sm-3 form-control-label" th:text="#{gender}"></label>
          <div class="col-sm-8">
            <div class="row">
              <div class="col-md-9">
                <select class="form-control" th:field="*{gender}">
                	<option value="F">Female</option>
                	<option value="M">Male</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="name" class="col-sm-3 form-control-label" th:text="#{phone_number}"></label>
          <div class="col-sm-8">
            <div class="row">
              <div class="col-md-9">
                <input type="text" class="form-control" th:placeholder="#{phone_number}" th:field="*{phoneNumber}">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="role" class="col-sm-3 form-control-label" th:text="#{role}"></label>
          <div class="col-sm-8">
            <div class="row">
              <div class="col-md-9">
                <select class="form-control" th:field="*{role.id}">
                	<option th:each="role : ${ROLES}" th:value="${role.id}" th:text="${role.roleName}"></option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-8 col-sm-offset-3">
            <div class="media">
              <div class="media-left">
                <button class="btn btn-success btn-rounded" th:text="#{create_user}"></button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    
  </div>
</div>

</div>

</body>

</html>