<!DOCTYPE html>
<html class="bootstrap-layout"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="/admin/admin-layout">

<body>

<div layout:fragment="content">

<ol class="breadcrumb">
  <li><a th:href="@{/admin/dashboard}">Dashboard</a></li>
  <li class="active"><a th:href="@{/admin/user-list}">Users</a></li>
</ol>

<div class="card">
  <div class="card-header bg-white center">
    <h5 class="card-title">Total Users <span class="text-primary" th:text="${USERS.size()}"></span></h5>
  </div>
  <table class="table table-striped m-b-0">
    <thead>
      <tr class="text-uppercase small">
        <th th:text="#{profile}"></th>
        <th th:text="#{user_id}"></th>
        <th th:text="#{email}"></th>
        <th th:text="#{gender}"></th>
        <th th:text="#{phone_number}"></th>
        <th th:text="#{status}"></th>
        <th th:text="#{role}"></th>
        <th th:text="#{action}"></th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="user : ${USERS}">
        <td>
          <div class="media">
            <div class="media-left">
              <img th:src="${user.profileUrl}" alt="" width="80" class="img-rounded">
            </div>
            <p th:text="${user.userName}"></p>
          </div>
        </td>
        <td class="vertical-middle">
          <span class="text-orange bold" th:text="${user.id}"></span>
        </td>
        <td class="vertical-middle">
          <span class="text-orange bold" th:text="${user.email}"></span>
        </td>
        <td class="vertical-middle">
          <span class="text-orange bold" th:text="${user.gender}"></span>
        </td>
        <td class="vertical-middle">
          <span class="text-orange bold" th:text="${user.phoneNumber}"></span>
        </td>
        <td class="vertical-middle">
          <span class="text-orange bold" th:text="${user.status}"></span>
        </td>
        <td class="vertical-middle">
          <span class="text-orange bold" th:text="${user.role.roleName}"></span>
        </td>
        <td class="vertical-middle">
          <a th:href="@{/admin/user/{userHash}/detail(userHash=${user.userHash})}" class="btn btn-primary">Detail</a>
          <a th:href="@{/admin/user/{userHash}/update(userHash=${user.userHash})}" class="btn btn-warning">Update</a>
          <a th:href="@{/api/user/{userHash}/delete(userHash=${user.userHash})}" class="btn btn-danger">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

</div>

</body>

</html>