<!-- jQuery -->
<script th:src="@{/resources/admin/assets/vendor/jquery.min.js}"></script>

<!-- Bootstrap -->
<script th:src="@{/resources/admin/assets/vendor/tether.min.js}"></script>
<script th:src="@{/resources/admin/assets/vendor/bootstrap.min.js}"></script>

<!-- AdminPlus -->
<script th:src="@{/resources/admin/assets/vendor/adminplus.js}"></script>

<!-- App JS -->
<script th:src="@{/resources/admin/assets/js/main.min.js}"></script>

<!-- My Own JS -->
<script th:src="@{/resources/userjs/jquery.bootpag.min.js}"></script>
<script th:src="@{/resources/userjs/jquery.tmpl.min.js}"></script>
<script th:src="@{/resources/userjs/user.js}"></script>