<!-- Navbar -->
<nav class="navbar navbar-dark bg-primary navbar-full navbar-fixed-top">

  <!-- Toggle sidebar -->
  <button class="navbar-toggler pull-xs-left" type="button" data-toggle="sidebar" data-target="#sidebarLeft"><span class="material-icons">menu</span></button>

  <!-- Brand -->
  <a href="index.html" class="navbar-brand"><i class="material-icons">school</i> LearnPlus</a>

  <!-- Search -->
  <form class="form-inline pull-xs-left hidden-sm-down">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search">
      <span class="input-group-btn"><button class="btn" type="button"><i class="material-icons">search</i></button></span>
    </div>
  </form>
  <!-- // END Search -->

  <!-- Menu -->
  <ul class="nav navbar-nav pull-xs-right">

    <!-- User dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link active dropdown-toggle p-a-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="false">
        <i class="material-icons">&#xE894;</i>
      </a>
      <div class="dropdown-menu dropdown-menu-right dropdown-menu-list" aria-labelledby="Preview">
        <a class="dropdown-item" th:href="@{''(lang='kh')}"><img style="width: 25px;" alt="khmer language" th:src="@{https://cdn.countryflags.com/thumbs/cambodia/flag-button-round-250.png}"> <span class="icon-text" th:text="#{khmer_lang}"></span></a>
        <a class="dropdown-item" th:href="@{''(lang='en')}"><img style="width: 25px;" alt="english language" th:src="@{https://cdn.pixabay.com/photo/2013/07/13/12/03/flag-159070_960_720.png}"> <span class="icon-text" th:text="#{en_lang}"></span></a>
      </div>
    </li>
    <!-- // END User dropdown -->

  </ul>
  <!-- // END Menu -->

</nav>
<!-- // END Navbar -->