<!-- Sidebar -->
<div class="sidebar sidebar-left sidebar-light sidebar-visible-md-up si-si-3 ls-top-navbar-xs-up sidebar-transparent-md" id="sidebarLeft" data-scrollable>
  <div class="sidebar-heading">User | Role</div>
  <ul class="sidebar-menu">
    <li class="sidebar-menu-item">
      <a class="sidebar-menu-button" th:href="@{/admin/user-cu}">
        <i class="sidebar-menu-icon material-icons">account_box</i>Create User
      </a>
    </li>
    <li class="sidebar-menu-item">
      <a class="sidebar-menu-button" th:href="@{/admin/user-cu}">
        <i class="sidebar-menu-icon material-icons">account_box</i>User List
      </a>
    </li>
    <li class="sidebar-menu-item">
      <a class="sidebar-menu-button" th:href="@{/admin/user-list}">
        <i class="sidebar-menu-icon material-icons">supervisor_account</i>Create Role
      </a>
    </li>
    <li class="sidebar-menu-item">
      <a class="sidebar-menu-button" th:href="@{/admin/user-list}">
        <i class="sidebar-menu-icon material-icons">supervisor_account</i>Role List
      </a>
    </li>
  </ul>
</div>
<!-- // END Sidebar -->