<!-- Sidebar -->
<div class="sidebar sidebar-left sidebar-light sidebar-visible-md-up si-si-3 ls-top-navbar-xs-up sidebar-transparent-md" id="sidebarLeft" data-scrollable>
  <div class="sidebar-heading">APPLICATIONS</div>
  <ul class="sidebar-menu">
    <li class="sidebar-menu-item">
      <a class="sidebar-menu-button" href="instructor-dashboard.html">
        <i class="sidebar-menu-icon material-icons">school</i> Instructor
      </a>
    </li>
    <li class="sidebar-menu-item active">
      <a class="sidebar-menu-button" href="index.html">
        <i class="sidebar-menu-icon material-icons">account_box</i> Student
      </a>
    </li>
  </ul>
  <div class="sidebar-heading">Student</div>
  <ul class="sidebar-menu">
    <li class="sidebar-menu-item">
      <a class="sidebar-menu-button" href="browse-courses.html">
        <i class="sidebar-menu-icon material-icons">search</i> Browse Courses
      </a>
    </li>
    <li class="sidebar-menu-item">
      <a class="sidebar-menu-button" href="view-course.html">
        <i class="sidebar-menu-icon material-icons">import_contacts</i> View Course
      </a>
    </li>
    <li class="sidebar-menu-item">
      <a class="sidebar-menu-button" href="take-course.html">
        <i class="sidebar-menu-icon material-icons">class</i> Take Course
        <span class="sidebar-menu-label label label-default">PRO</span>
      </a>
    </li>
    <li class="sidebar-menu-item">
      <a class="sidebar-menu-button" href="take-quiz.html">
        <i class="sidebar-menu-icon material-icons">dvr</i> Take a Quiz
      </a>
    </li>
    <li class="sidebar-menu-item">
      <a class="sidebar-menu-button" href="quiz-results.html">
        <i class="sidebar-menu-icon material-icons">poll</i> Quiz Results
      </a>
    </li>
    <li class="sidebar-menu-item">
      <a class="sidebar-menu-button" href="account-edit.html">
        <i class="sidebar-menu-icon material-icons">account_box</i> Edit Account
      </a>
    </li>
    <li class="sidebar-menu-item">
      <a class="sidebar-menu-button" href="my-courses.html">
        <i class="sidebar-menu-icon material-icons">school</i> My Courses
      </a>
    </li>
    <li class="sidebar-menu-item">
      <a class="sidebar-menu-button" href="chat.html">
        <i class="sidebar-menu-icon material-icons">comment</i> Messages
        <span class="sidebar-menu-label label label-default">2</span>
      </a>
    </li>
    <li class="sidebar-menu-item">
      <a class="sidebar-menu-button" href="billing.html">
        <i class="sidebar-menu-icon material-icons">monetization_on</i> Billing
        <span class="sidebar-menu-label label label-default">$25</span>
      </a>
    </li>
    <li class="sidebar-menu-item">
      <a class="sidebar-menu-button" href="login.html">
        <i class="sidebar-menu-icon material-icons">lock_open</i> Logout
      </a>
    </li>
  </ul>
  <!-- Components menu -->
  <div class="sidebar-heading">UI Components</div>
  <ul class="sidebar-menu">
    <li class="sidebar-menu-item">
      <a class="sidebar-menu-button" href="#">
        <i class="sidebar-menu-icon material-icons">tune</i> UI Components
      </a>
      <ul class="sidebar-submenu sm-condensed">
        <li class="sidebar-menu-item">
          <a class="sidebar-menu-button" href="ui-buttons.html">Buttons</a>
        </li>
        <li class="sidebar-menu-item">
          <a class="sidebar-menu-button" href="ui-cards.html">Cards</a>
        </li>
        <li class="sidebar-menu-item">
          <a class="sidebar-menu-button" href="ui-tabs.html">Tabs</a>
        </li>
        <li class="sidebar-menu-item">
          <a class="sidebar-menu-button" href="ui-tree.html">Tree</a>
        </li>
        <li class="sidebar-menu-item">
          <a class="sidebar-menu-button" href="ui-nestable.html">Nestable</a>
        </li>
        <li class="sidebar-menu-item">
          <a class="sidebar-menu-button" href="ui-notifications.html">Notifications</a>
        </li>
        <li class="sidebar-menu-item">
          <a class="sidebar-menu-button" href="ui-progress.html">Progress Bars</a>
        </li>
        <li class="sidebar-menu-item">
          <a class="sidebar-menu-button" href="ui-forms.html">Forms</a>
        </li>
        <li class="sidebar-menu-item">
          <a class="sidebar-menu-button" href="ui-tables.html">Tables</a>
        </li>
        <li class="sidebar-menu-item">
          <a class="sidebar-menu-button" href="ui-charts.html">Charts</a>
        </li>
        <li class="sidebar-menu-item">
          <a class="sidebar-menu-button" href="ui-calendar.html">Calendar</a>
        </li>
        <li class="sidebar-menu-item">
          <a class="sidebar-menu-button" href="ui-maps-vector.html">Maps Vector</a>
        </li>
      </ul>
    </li>
  </ul>
  <!-- // END Components Menu -->
</div>
<!-- // END Sidebar -->